{% extends "::base.html.twig" %}
{% form_theme form ':form/block:field.html.twig' %}
{% block content %}

    <div class="col-md-5">
        {{ form_start(form)}}

            <h1 class="h1">Создать бриф</h1>

            {{ form_row(form.name) }}
            {{ form_row(form.domain) }}
            {{ form_row(form.geography) }}
            {{ form_row(form.products) }}
            {{ form_row(form.email) }}

            <div class="next-btn">
                <button type="submit" class="btn btn-default">
                    <span class="next-text">Далее ></span>
                </button>
            </div>


        {{ form_end(form) }}
    </div>

{% endblock %}