<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BriefCreate{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/museosans/museosans.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/site.css') }}"/>
        {% endblock %}
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
    </head>
    <body>
        {% block body %}
            <div class="container">

                <header class="header" id="header">
                    <a href="/"><img src="{{ asset('images/logo.png') }}" alt="logo" width="111" height="99"></a>
                </header>

                {% block content %}
                {% endblock %}

                <footer class="footer"></footer>

            </div> <!-- container -->
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('javascript/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('javascript/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('javascript/bootstrap.min.js') }}"></script>
            <script src="{{ asset('javascript/clipboard.min.js') }}"></script>
            <script src="{{ asset('javascript/site.js') }}"></script>
            <script src="{{ asset('javascript/validation.js') }}"></script>
        {% endblock %}
    </body>
</html>
